#define _GRT_SECURE_NO_WARNING 1

#include <studio.h>


int main ()
{
      int a = 0;
      ;//是语句-空语句
      
      return 0;
}

//结构体
//char int double...
//人 = 3.14
//‘w’
//书 - 复杂对象
//
//名字+身高+年龄+身份号码+...
